@import url("../../styling/index.css");

/* Hero */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.hero-paragraph {
    font-weight: 500;
}

.hero-image {
    border-radius: 5px;
}

/* Feature */
.feature-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    padding: 20px;
}

.feature-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-number-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-number {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 4px;
    font-weight: 600;
}

.feature-number-paragraph {
    font-weight: 500;
}

@media (min-width: 767px) {
    .feature-container {
        flex-direction: row;
    }
}


/* Projects */
.projects-main-container {
    margin: 40px 0;
}
.projects-main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.projects-paragraph {
    font-weight: 500;
}

.projects-main-section-button {
    width: 180px;
}

/* .projects-container {
    display: grid;
} */

.project-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trees-planted-container {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.project-card {
    display: flex;
    flex-direction: column;
}