@import url("../../styling/index.css");

/*technology-page*/
*{
    box-sizing: border-box;
}

body{
    color: var(--primary-color);
   background-color: #F1F7F3;
}
.container{
    width: 100%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.375em;
  padding-right: 4.375em; 
}
.technology-page{
    z-index: 1;
    grid-column-gap: 1.25em;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    margin-bottom: 6.25em;
    padding-top: 10em;
    display: flex;
    position: relative;
}

.technology-page-header{
    grid-row-gap: 1.5em;
    flex-direction: column;
    align-items: flex-start;
    width: 35em;
    display: flex;
}

.tech-title{
    color: var(--primary-color);
    letter-spacing: -.02em;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.1;
}

.tech-paragraph{
    color: var(--primary-color);
    display: block;
    font-size: 1.125em;
  font-weight: 500;
  line-height: 1.6;
  }


.technology-features-logo-warp-copy{
    grid-column-gap: 1.5em;
    align-items: center;
    display: flex;
}

.hedear-treelog-logo{
    object-fit: contain;
    flex: 0 auto;
    align-self: auto;
    width: 12em;
    height: 80px;
  
}

.hedear-treemap-logo{
    object-fit: contain;
    flex: 0 auto;
    align-self: auto;
    width: 12em;
    height: 80px;
}

.tech-heder-image{

}

.button-see-how{
    background-color: var(--secondary-color);
  box-shadow: none;
  color: var(--primary-color);
  perspective: 20em;
  perspective-origin: 50%;
  border-radius: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.3em;
  padding-left: 2.25em;
  padding-right: 2.25em;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: none;

}

/* container is-full-width*/

.is-full-width{
    max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: block;

}
.tech-white-wrap{
z-index: 2;
  background-color: var(--thirdly-color);
  border-top-left-radius: 1.125em;
  border-top-right-radius: 1.125em;
  margin-bottom: -2em;
  padding-bottom: 8.25em;
  position: relative;
}

.tech-logging{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9em;
    padding-top: 7.75em;
    display: flex;
  
}
.tech-logging-graphic{
    flex-direction: column;
    align-items: flex-end;
    padding-left: 67px;
    display: flex;
}

.tech-logging-conteent-wrap{
    grid-row-gap: 2.5em;
  flex-direction: column;
  align-items: flex-start;
  width: 28.25em;
  margin-left: -1px;
  margin-right: 48px;
  padding-left: 0;
  display: flex;
}

.tech-logging-conteent-wrap{
    grid-row-gap: 1.5em;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  
}

.tech-features-treelog-header{grid-row-gap: 1.5em;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .treelog-logo{
    object-fit: contain;
    flex: 0 auto;
    align-self: auto;
    width: 12em;
    height: 45px;
    margin-bottom: -15px;
    padding-bottom: 0;
  }

  .tech-features-treelog-title{
    letter-spacing: -.02em;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.1;}
  .tech-features-paragraph{
    color: var(--primary-color);
  display: block;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.6;
  }
  /*smart tree logging */
.tech-list-logging-wrap{
    grid-row-gap: 1em;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.tech-features-log-list{
    background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: .5em;
  padding: .75em 1.5em;
}
/* tree mapping */
.tech-mapping{
    background-color: var(--primary-color);
  color: var(--thirdly-colore);
  border-radius: 1em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.25em;
  padding: 4.625em 3em;
  display: flex;

}
.tech-mapping-content{
    grid-row-gap: 2.5em;
  flex-direction: column;
  align-items: flex-start;
  width: 27.5em;
  display: flex;
}
.tech-features-treemap-header{

}
.treemap-logo{
    object-fit: contain;
    flex: 0 auto;
    align-self: auto;
    width: 16em;
    height: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tech-features-treemap-paragraph{
    color: var(--thirdly-color);
    display: block;
    font-size: 1.125em;
  font-weight: 500;
  line-height: 1.6;
}
.tech-mapping-list-wrap{
  grid-row-gap: 1em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.tech-features-map-list{
    background-color:#467355;
  color: var(--secondary-color);
    border-radius: .5em;
    padding: .75em 1.5em;
}

.tech-mapping-grapgic-wrao{
    width: 27.1875em;
  margin-right: 5em;
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
 /*Treelog digitized*/
.padding-digitized{
    padding-left: 11.3em;
    padding-right: 11.3em;
}

.tech-digitizzed{
    justify-content: space-between;
    align-items: center;
    display: flex;
  
}

.tech-digitizzed-image-wrap{
    width: 35.4em;
}
.tech-digitizzed-image{
    width: 100%;
  height: auto;
}