@import url("index.css");

/* Hero */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 40px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-get-started-button {
    width: 140px;
}

.hero-languages-container {
    display: flex;
    justify-content: center;
}

.recognition-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.recognition-paragraph {
    font-weight: 500;
}

.recognition-companies {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.recognition-company-logo-container {
    width: 130px;
}


/* Impact */
.impact-container {
    background-color: var(--primary-color);
    color: var(--thirdly-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 40px;
}

.impact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.impact-number-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.impact-number {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: var(--bg-thirdly-color);
    padding: 8px 12px;
    border-radius: 4px;
}

.impact-number-paragraph {
    color: rgba(241, 247, 243, 0.6);
    font-weight: 600;
    font-size: .90rem;
}

.impact-title {
    color: rgb(241, 247, 243);
}

.impact-paragraph {
    color: rgba(241, 247, 243, 0.8);
    font-weight: 500;
    max-width: 75ch;
}

.impact-get-started-button {
    width: 140px;
}


.impact-image {
    border-radius: 5px;
    width: 90%;
}


@media (min-width: 767px) {
    .impact-container {
        flex-direction: row-reverse;
    }
}