@import url("normalization.css");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: #19402d; /* forest-green */
    --secondary-color: #9fe870; /* lime-green  */
    --thirdly-color: #ffffff;

    --bg-primary-color: #d8deda;
    --bg-secondary-color: #ffffff;
    
    --main-font: "Plus Jakarta Sans", sans-serif;
}



body {
    background-color: var(--bg-primary-color);
    font-family: var(--main-font);
}

.main-container {
    max-width: 1200px;
    margin: auto;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-secondary-color);
    padding: .8rem 1.768rem;
}

.logo {
    max-width: 100px;
    height: 20px;
}


/* Navbar */
.nav-element {
    color: var(--primary-color);
    font-weight: 600;
}
/* Mobile Navbar */
.hamburger-menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.menu-line {
    width: 25px;
    height: 2px;
    background-color: var(--primary-color);
}

.mobile-nav-container {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.mobile-nav-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.languages-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
}

.language {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    font-size: .80rem;
}

.english-language {
    border-bottom: 3px solid rgb(61, 70, 251);
    color: rgb(61, 70, 251);
}

.arabic-language {
    opacity: .5;
}

.mobile-registration-container {
    display: flex;
    align-items: center;
    gap: 8px;
}


@media (max-width: 767px) {
    .desktop-nav-container {
        display: none;
    }

    .desktop-registration-container {
        display: none;
    }
}

/* Desktop Navbar */
.desktop-nav-list-container {
    display: flex;
    gap: 20px;
    font-size: .80rem;
}

.log-in-button {
    font-weight: 500;
    font-size: .80rem;
    cursor: pointer;
}

.get-started-button {
    font-weight: 600;
    font-size: .80rem;
    padding: 4px 6px;
    border: 1px solid var(--primary-color) ;
    border-radius: 20px;
    cursor: pointer;
}


@media (min-width: 767px) {
    .header {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .hamburger-menu-button {
        display: none;
    }

    .desktop-registration-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}